*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/pdfcreator/.gitignore
/pdfcreator/src/main/res/layout/activity_pdf_viewer.xml
/pdfcreator/src/main/res/layout/activity_pdfcreator.xml
/pdfcreator/src/main/AndroidManifest.xml
/pdfcreator/build.gradle
/pdfcreator/src/main/res/values/colors.xml
/pdfcreator/src/main/res/values/dimens.xml
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/utils/FileManager.java
/pdfcreator/src/main/res/drawable/gradient_black_and_transparent.xml
/pdfcreator/src/main/ic_launcher-web.png
/pdfcreator/src/main/res/values/ic_launcher_background.xml
/pdfcreator/src/main/res/drawable-hdpi/ic_left.png
/pdfcreator/src/main/res/drawable-mdpi/ic_left.png
/pdfcreator/src/main/res/drawable-xhdpi/ic_left.png
/pdfcreator/src/main/res/drawable-xxhdpi/ic_left.png
/pdfcreator/src/main/res/drawable-anydpi/ic_left.xml
/pdfcreator/src/main/res/drawable-hdpi/ic_right.png
/pdfcreator/src/main/res/drawable-mdpi/ic_right.png
/pdfcreator/src/main/res/drawable-xhdpi/ic_right.png
/pdfcreator/src/main/res/drawable-xxhdpi/ic_right.png
/pdfcreator/src/main/res/drawable-anydpi/ic_right.xml
/pdfcreator/src/main/res/layout/item_pdf_page.xml
/pdfcreator/src/main/res/layout/item_pdf_viewer.xml
/pdfcreator/src/main/res/drawable/layout_rounded_corner.xml
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/PDFBody.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/activity/PDFCreatorActivity.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFCustomView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/PDFFooterView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFFrameLayout.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/PDFHeaderView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFHorizontalView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFImageView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFLineSeparatorView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFPageBreakView.java
/pdfcreator/src/main/java/android/print/PDFPrint.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/PDFTableView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFTextView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/utils/PDFUtil.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFVerticalView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/views/basic/PDFView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/activity/PDFViewerActivity.java
/pdfcreator/proguard-rules.pro
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/custom/RecyclerPDFViewer.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/adapter/RecyclerPdfViewerAdapter.java
/pdfcreator/src/main/res/values/strings.xml
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/custom/TouchImageView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/custom/TouchImageViewFling.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/utils/Utilities.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/custom/ViewPagerForPhotoView.java
/pdfcreator/src/main/java/com/tejpratapsingh/pdfcreator/custom/ZoomLayout.java
